html {
  scroll-behavior: smooth;
}

header {
  animation: transitionIn 1.5s;
}


@font-face {
  font-family: nevis;
  src: url(nevis.ttf);
}

@font-face {
  font-family: supreme;
  src: url(supreme.ttf);
}

/* nav */
#nav {
  position: sticky;
  top: 0;
  z-index: 11;
  background: #9146FF;
  background: -webkit-linear-gradient(to right, #9146FF, #AF7DFF);
  background: linear-gradient(to right, #9146FF, #AF7DFF);
}

#nav .navbar-brand {
  font-family: nevis;
}

.nav-link {
  font-family: supreme;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-size: 80%;
}

.logo {
  max-width: 150px;
  margin-bottom: 5px;
}
/* ----------------------------- */

body {
  background-color: #F6F3F6;
}


/* header */

#headersection {
  position: relative;
  background-image: url(imgs/omkringosbanner.png);
  background-repeat: no-repeat;
  background-position: 50% 30%;
  padding-top: 30vh;
  padding-bottom: 5vh;
  z-index: 10;
}

.header h1, .header h5 {
  font-family: supreme;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  color: white;
}

.header p {
  color: white;
  font-family: quicksand;
}
/* ---------------------------------------- */

/* voresmissionsection */

body{
  background-image: url(imgs/snipercross.png);
  background-repeat: no-repeat;
  background-position: -10% 20%;
}

#voresmissionsection {
  padding: 10vh 0;
}

.voresmissiontext h3, .voresmissiontext h5 {
  font-family: supreme;
  font-weight: bold;
  font-style: italic;
  color: #26272b;
}

.voresmissiontext p {
  font-family: quicksand;
}

/* ---------------------------------------- */

/* omkringos */

#aboutussection {
  padding-bottom: 10vh;
}

.aboutustitle h3 {
  font-family: supreme;
  font-weight: bold;
  font-style: italic;
  color: #26272b;
}

.aboutustitle span {
  padding: 5px 20px;
}

.aboutustop {
  font-family: supreme;
  font-weight: bold;
  font-style: italic;
  color: #26272b;
}

.aboutustext {
  font-family: Quicksand;
  color: #26272b;
}

.portraits {
  width: 250px;
  border-radius: 5px;
}

.name {
  margin-top: 2vh;
  font-family: supreme;
  font-weight: bold;
  font-style: italic;
  color: #26272b;
}

.gametag {
  font-family: supreme;
  font-weight: bold;
  font-style: italic;
}

.membercards2 {
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.membercards2 a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  margin: 0 5px;
}


.games h6 {
  font-family: Quicksand;
  font-weight: bolder;
}

.games p {
  font-family: quicksand;
}

.fa {
  padding: 7px;
  width: 35px;
  text-align: center;
  background-color: #26272b;
  border-radius: 3px;
  transition: 0.3s;
}

.fa:hover {
  background: #AF7DFF;
  transition: 0.3s;
  width: 45px;
}
/* ---------------------------------------- */



/*-------------- footer------------------- */
.site-footer {
  background-color: #26272b;
  padding: 30px 0;
  font-size: 15px;
  line-height: 24px;
  color: white;
}

.footersjov {
  color: #efeded75;
}

.footerimg img {
  height: 40px;
}

.kassetadcontainer {
  padding: 10px 0;
}

/* ------------------ */
